<h2>Problems</h2>
#set ($problemCount = $problems.size()) 
#if($problemCount == 0)
	<p>No problems</p>
	#else
		<p>There are $problemCount problems</p>
	#end

	<table>
#foreach( $problem in $problems)
    <tr><td>$problem.getStringRepresentation()</td></tr>
#end
</table>
