#if ($info.getFailedTestCount() == 0)
<table width=95% class="heading">
  <tr class=heading>
    <td class=heading>Tests</td>
  </tr>
  <tr class="heading">
    <td class="heading">
      <table width=100%>
        <tr><td colspan=4>
$info.getFailedTestCount() failed, 
$info.getNewFailedTestCount() new, 
$info.getPassedTestCount() passed, 
$info.getIgnoredTestCount() ignored
	#else
	<table width=95% class="heading">
  <tr class=heading>
    <td class=heading>Tests - $info.getFailedTestCount() failed, 
$info.getNewFailedTestCount() new, 
$info.getPassedTestCount() passed, 
$info.getIgnoredTestCount() ignored
  #if( $info.getFailedTestCount() > $info.getMaxTestCount() )
    (Only first $info.getMaxTestCount() failed tests shown)
  #end
    </td>
    <td class="heading-link">
     	 <a href="$info.rootURL/viewLog.html?buildId=$info.buildId&buildTypeId=$info.buildTypeId&tab=testsInfo">View tests in TeamCity</a>
    </td>
  </tr>
  <tr class="heading">
    <td class="heading" colspan=2>
      <table width=100%>
        <tr><td colspan=4>
			  #if( $info.getFailedTestCount() > $info.getMaxTestCount() )
			  #set( $maxTestsPlusOne = $info.getMaxTestCount() + 1 )
			  <dl>
    #foreach( $test in $tests )
      #if( $velocityCount < $maxTestsPlusOne )
        <dt>
        #if( $test.isNew() )
          &nbsp;<img src='cid:newTest000'>&nbsp;
        #end	
        <strong>$test.ShortName</strong> ($test.Package)</dt><dd>$test.getShortTextForWeb()</dd>
      #end
    #end
  </dl>
			  #else
				  <dl>
    #foreach( $test in $tests )
      <dt>
      #if( $test.isNew() )
        &nbsp;<img src='cid:newTest000'>&nbsp;
      #end	
      <strong>$test.ShortName</strong> ($test.Package)</dt><dd>$test.getShortTextForWeb()</dd>
    #end
  </dl>
  #end
#end
	        </td></tr>
      </table>
	    </td>
	  </tr>
	</table>