#if ($info.hasBranch())
Build $info.projectName :: $info.buildTypeName (branch: ${info.formattedBranchName}) #$info.buildNumber started ($info.statusLowercase)
#else
Build $info.projectName :: $info.buildTypeName #$info.buildNumber started ($info.statusLowercase)
#end	